{% extends 'back.html.twig' %}

{% block title %}Users
{% endblock %}

{% block navigation %}
	<li class="breadcrumb-item">
		<a href="{{ path ('app_back') }}">Home</a>
	</li>
	<li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="card">
			<h5>some text</h5>
		</div>
	</div>
{% endblock %}
